@model Models.EntityFramework.vaccine_lot
@{
    //Layout = "~/Areas/Pharmacist/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VaccineList</title>
</head>
<body>
    @Html.HiddenFor(Model => Model.lot_number)
    <div class="card" style="margin:50px 100px">
        <h5 class="card-header">Thông tin Vaccine</h5>
        <div class="card-body">
            <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label">Số lô</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" value="@Model.lot_number" id="lot_number" readonly />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label">Tên Vaccine</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" value="@Model.vaccine_type.vaccine_name" id="vaccine_name" readonly />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label">Mã Vaccine</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" value="@Model.vaccine_code" id="vaccine_code" readonly />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label">Tổng SL</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" value="@Model.total_amount" id="total_amount" readonly />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label">SL còn lại</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" value="@Model.remain_amount" id="remain_amount" readonly />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label">Đơn vị</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" value="@Html.Raw(Model.dose_unit == 0 ? "Lọ": "Liều")" id="dose_unit" readonly />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label">Ngày SX</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" value="@Model.production_date.ToString("dd/MM/yyyy")" id="production_date" readonly />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label">Hạn SD</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" value="@Model.expiration_date.ToString("dd/MM/yyyy")" id="expiration_date" readonly />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label">Nhà sản xuất</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" value="@Model.publisher" id="publisher_name" readonly />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label">Giá nhập</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" value="@Model.import_price" id="price_each" readonly />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label">Giá bán</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" value="@Model.sale_price" id="price_each" readonly />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label">Thuế</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" value="@Model.tax" id="price_each" readonly />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label">Nước sản xuất</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" value="@Model.vaccine_type.country_of_origin" id="price_each" readonly />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label">Ngày nhập</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" value="@Model.rival_date.ToString("dd/MM/yyyy")" id="rival_date" readonly />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label">Ghi chú</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" value="@Model.note" id="note" style="height: auto; word-wrap: break-word; resize:vertical" readonly />
                </div>
            </div>
            <button type="submit" class="btn btn-primary"
                    style="margin-left: 200px;padding: 15px 45px;
                                margin-bottom:30px">
                Lưu
            </button>

            <button type="button" onclick="backToList()"
                    style="margin-right: 200px;padding: 15px 45px; float:right;
                                margin-bottom:30px"
                    class="btn btn-outline-danger">
                Hủy
            </button>
        </div>
    </div>
    </body>
</html>

<script>
    function backToList() {
        window.location.replace('VaccineList');
    }
</script>
