@model IEnumerable<Models.EntityFramework.vaccine_lot>


@{
    Layout = "~/Areas/Pharmacist/Views/Shared/_Layout.cshtml";
    string lot_number = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VaccineList</title>
</head>
<body>
    <div>
        <div class="card" style="margin:30px 30px">
            @*<h5 class="card-header">*@
                <div class="navbar-nav align-items-start">
                    <div class="nav-item d-flex align-items-center" style="margin: 2% 2%">
                        <i class="bx bx-search fs-4 lh-0"></i>
                        <input type="text"
                               class="form-control border-0 shadow-none"
                               placeholder="Search..."
                               aria-label="Search..." />
                    </div>
                </div>
            @*</h5>*@
        <div class="table-responsive text-nowrap">

            <table class="table">
                <thead style="text-align:center">
                    <tr class="text-nowrap">
                        <th>#</th>
                        <th>Số lô</th>
                        <th>Tên Vaccine</th>
                        <th>Tổng SL</th>
                        <th>SL Còn lại</th>
                        <th>Đơn vị</th>
                        <th>Hạn sử dụng</th>
                        <th>Giá nhập</th>
                        <th>Giá Bán</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;

                    }
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr style="text-align:center">
                            <th scope="row">@i</th>
                            <td>@item.lot_number</td>
                            <td>@item.vaccine_type.vaccine_name</td>
                            <td>@item.total_amount</td>
                            <td>@item.remain_amount</td>
                            <td>@Html.Raw(item.dose_unit == 0 ? "Lọ" : "Liều")</td>
                            <td>@item.expiration_date.ToString("dd-MM-yyyy")</td>
                            <td>@item.import_price</td>
                            <td>@item.sale_price</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           href="" data-bs-toggle="modal"
                                           data-bs-target="#Detail-@item.lot_number"><i class="bx bx-info-circle"></i> Chi tiết</a>
                                        <a class="dropdown-item" href="@Url.Action("Edit", "Control", new {LotNumber = item.lot_number})"><i class="bx bx-edit-alt me-1"></i> Chỉnh sửa</a>
                                        <a class="dropdown-item" href="@Url.Action("Delete", "Control", new {LotNumber = item.lot_number})"><i class="bx bx-trash me-1"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <!--Detail Modal -->
            @foreach(var item in Model)
            {
                <div class="modal fade" id="Detail-@item.lot_number" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:40rem">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">Thông tin vaccine</h5>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row g-2">
                                    <div class="col mb-3" style="margin-right:1rem">
                                        <label for="emailWithTitle" class="form-label">Số lô</label>
                                        <input type="text"
                                               id="emailWithTitle"
                                               class="form-control"
                                               value="@item.lot_number" readonly />
                                    </div>
                                    <div class="col mb-3">
                                        <label for="dobWithTitle" class="form-label">Mã Vaccine</label>
                                        <input type="text"
                                               id="dobWithTitle"
                                               class="form-control"
                                               value="@item.vaccine_code" readonly />

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-3" >
                                        <label for="nameWithTitle" class="form-label">Tên Vaccine</label>
                                        <input type="text"
                                               id="nameWithTitle"
                                               class="form-control"
                                               value="@item.vaccine_type.vaccine_name" readonly />
                                    </div>
                                </div>
                                <div class="row g-2">
                                    <div class="col mb-3" style="margin-right:1rem">
                                        <label for="emailWithTitle" class="form-label">Tổng SL</label>
                                        <input type="text"
                                               id="emailWithTitle"
                                               class="form-control"
                                               value="@item.total_amount" readonly />
                                    </div>
                                    <div class="col mb-3">
                                        <label for="dobWithTitle" class="form-label">SL Còn lại</label>
                                        <input type="text"
                                               id="dobWithTitle"
                                               class="form-control"
                                               value="@item.remain_amount" readonly />

                                    </div>
                                </div>
                                <div class="row g-2">
                                    <div class="col mb-3" style="margin-right:1rem">
                                        <label for="emailWithTitle" class="form-label">Đơn vị</label>
                                        <input type="text"
                                               id="emailWithTitle"
                                               class="form-control"
                                               value="@Html.Raw(item.dose_unit == 0 ? "Lọ": "Liều")" readonly />
                                    </div>
                                    <div class="col mb-3">
                                        <label for="dobWithTitle" class="form-label">Nhà sản xuất</label>
                                        <input type="text"
                                               id="dobWithTitle"
                                               class="form-control"
                                               value="@item.publisher" readonly />
                                    </div>
                                </div>
                                <div class="row g-2">
                                    <div class="col mb-3" style="margin-right:1rem">
                                        <label for="emailWithTitle" class="form-label">Ngày sản xuất</label>
                                        <input type="text"
                                               id="emailWithTitle"
                                               class="form-control"
                                               value="@item.production_date.ToString("dd/MM/yyyy")" readonly />
                                    </div>
                                    <div class="col mb-3">
                                        <label for="dobWithTitle" class="form-label">Hạn sử dụng</label>
                                        <input type="text"
                                               id="dobWithTitle"
                                               class="form-control"
                                               value="@item.expiration_date.ToString("dd/MM/yyyy")" readonly />
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col mb-3">
                                        <label for="emailWithTitle" class="form-label">Giá nhập</label>
                                        <input type="text"
                                               id="emailWithTitle"
                                               class="form-control"
                                               value="@item.import_price" readonly />
                                    </div>
                                    <div class="col mb-3">
                                        <label for="dobWithTitle" class="form-label">Giá bán</label>
                                        <input type="text"
                                               id="dobWithTitle"
                                               class="form-control"
                                               value="@item.sale_price" readonly />
                                    </div>
                                    <div class="col mb-3">
                                        <label for="dobWithTitle" class="form-label">Thuế</label>
                                        <input type="text"
                                               id="dobWithTitle"
                                               class="form-control"
                                               value="@item.tax" readonly />
                                    </div>
                                </div>
                                <div class="row g-2">
                                    <div class="col mb-3" style="margin-right:1rem">
                                        <label for="emailWithTitle" class="form-label">Nước sản xuất</label>
                                        <input type="text"
                                               id="emailWithTitle"
                                               class="form-control"
                                               value="@item.vaccine_type.country_of_origin" readonly />
                                    </div>
                                    <div class="col mb-3">
                                        <label for="dobWithTitle" class="form-label">Ngày nhập</label>
                                        <input type="text"
                                               id="dobWithTitle"
                                               class="form-control"
                                               value="@item.rival_date.ToString("dd/MM/yyyy")" readonly />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-3">
                                        <label for="nameWithTitle" class="form-label">Ghi chú</label>
                                        <input type="text"
                                               id="nameWithTitle"
                                               class="form-control"
                                               value="@item.note" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Đóng
                                </button>
                                @*<button type="button" class="btn btn-primary">OK</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!--Detail Modal -->
            
        </div>
        </div>
    </div>
</body>
</html>




