@model List<Models.Framework.account>

@{
    ViewBag.Title = "Index";
}

<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Striped Rows -->
        <div class="card">
            <h5 class="card-header">Danh sách tổng</h5>
            <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>AccountId</th>
                            <th>Username</th>
                            <th>Type</th>
                            <th>Init Day</th>
                            <th>Status</th>
                            <th>Setting</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.account_id</strong></td>
                                <td>@item.username</td>
                                <td>
                                    @{
                                        switch (@item.account_type)
                                        {
                                            case 0:
                                                @Html.Raw("<span class='badge bg-label-primary me-1'>Admin</span>");
                                                break;
                                            case 1:
                                                @Html.Raw("<span class='badge bg-label-secondary me-1'>Client</span>");
                                                break;
                                            case 2:
                                                @Html.Raw("<span class='badge bg-label-info me-1'>Doctor</span>");
                                                break;
                                            case 3:
                                                @Html.Raw("<span class='badge bg-label-info me-1'>Pharmacist</span>");
                                                break;
                                            case 4:
                                                @Html.Raw("<span class='badge bg-label-info me-1'>Cashier</span>");
                                                break;
                                            default:
                                                @Html.Raw("<span class='badge bg-label-danger me-1'>ERROR!</span>");
                                                break;
                                        }
                                    }
                                </td>
                                <td>@item.account_init_day</td>
                                <td>
                                    @{
                                        if (@item.isTerminated == true)
                                        {
                                            @Html.Raw("<span class='badge bg-label-danger me-1'>Terminated</span>");
                                        }
                                        else
                                        {
                                            @Html.Raw("<span class='badge bg-label-success me-1'>Working</span>");
                                        }
                                    }
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                            <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!--/ Striped Rows -->
    </div>
    <!-- Content wrapper -->
</div>