@model IEnumerable<Models.EntityFramework.bill>

@{
    string searchText = "", propName = "", displayPropName = "";
    bool order = true;
    if (TempData["SearchTextOfBill"] != null) { searchText = TempData["SearchTextOfBill"].ToString(); }
    if (TempData["PropNameOfBill"] != null) { propName = TempData["PropNameOfBill"].ToString(); }
    if (TempData["OrderOfBill"] != null) { order = Convert.ToBoolean(TempData["OrderOfBill"]); }


    switch (propName)
    {
        case "None":
            displayPropName = "None";
            break;
        case "bill_id":
            displayPropName = "Mã hóa đơn";
            break;
        case "client_name":
            displayPropName = "Tên khách hàng";
            break;
        case "init_date":
            displayPropName = "Ngày tạo";
            break;

    }
}

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">

            @*CARD HEADER*@
            <div class="card-header">
                <div class="card-header">
                    <div class="mb-4" style="text-align: center">

                        <strong style="font-size:19px">DANH SÁCH HÓA ĐƠN</strong>
                    </div>
                    @using (Html.BeginForm("ListBill", "Control", FormMethod.Get))
                    {
                        <div class="row g-3">

                            @*SEARCH AREA*@

                            <div class="col-md-5 mb-4">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Search..."
                                           name="SearchText"
                                           value="@searchText" />
                                    <button class="btn btn-outline-primary" type="submit" id="button-addon2">Tìm kiếm</button>
                                </div>
                            </div>

                            <input type="hidden" name="PropName" value="@propName" />
                            <input type="hidden" name="Order" value="@order" />

                            @*SORT AREA*@
                            <div class="col" style="margin-left:4%">
                                <a class="text-muted" style="font-size: 14px">Sắp xếp theo</a>

                                <div class="btn-group" style="margin-left: 1%">
                                    <button type="button"
                                            class="btn btn-outline-warning dropdown-toggle"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        @displayPropName
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="@Url.Action("ListBill", "Control", new { SearchText = searchText })">Không có</a></li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li><a class="dropdown-item" href="@Url.Action("ListBill", "Control", new { SearchText = searchText, PropName = "bill_id", Order = !order })">Mã hóa đơn</a></li>
                                        <li><a class="dropdown-item" href="@Url.Action("ListBill", "Control", new { SearchText = searchText, PropName = "client_name", Order = !order  })">Tên khách hàng</a></li>
                                        <li><a class="dropdown-item" href="@Url.Action("ListBill", "Control", new { SearchText = searchText, PropName = "init_date", Order = !order  })">Ngày tạo</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col">
                                <a class="text-muted" style="font-size: 14px">Hiển thị</a>

                                <div class="btn-group" style="margin-left: 1%">
                                    <button type="button"
                                            class="btn btn-outline-info dropdown-toggle"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        Tất cả
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="javascript:void(0);">Tất cả</a></li>
                                        <li>
                                            <hr class="dropdown-divider" />

                                        </li>
                                        

                                    </ul>
                                </div>
                            </div>
                        </div>
                    }

                    <strong>Có @Model.ToList().Count hóa đơn</strong>
                </div>

            </div>
                @*/CARD HEADER*@

             
           
            <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead style="text-align:center">
                        <tr>
                            <th>STT</th>
                            <th>Mã hóa đơn</th>
                            <th>Khách hàng</th>
                            <th>Ngày tạo</th>
                            <th>Tổng tiền</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0" style="text-align:center">
                        @{
                            int index = 0;
                        }

                        @foreach (var item in Model)
                        {
                            index++;
                            <tr>
                                <td>@index</td>
                                <td>@item.bill_id</td>
                                <td>
                                    @item.client.account.name
                                </td>
                                <td>@item.init_date.ToString("dd/MM/yyyy H:m:s")</td>
                                <td>
                                    @Html.Raw(item.total_cost.ToString("N0", System.Globalization.CultureInfo.CurrentCulture) + ",000")
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="@Url.Action("Detail", "Control", new {BillID = item.bill_id})"><i class="bx bx-info-circle"></i> Chi tiết</a>
                                            @*<a class="dropdown-item" href="@Url.Action("Edit", "Control", new {BillID = item.bill_id})"><i class="bx bx-edit-alt me-1"></i> Chỉnh sửa</a>*@
                                            <a class="dropdown-item" href="@Url.Action("Delete", "Control", new {BillID = item.bill_id})"><i class="bx bx-trash me-1"></i> Xóa</a>
                                            @*<button type="button"
                                            class="btn btn-primary"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modalCenter">
                                        Launch modal
                                    </button>*@

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            

                        }
                    </tbody>

                </table>


            </div>
        </div>
    </div>
</div>



@*<div class="card">
    <h5 class="card-header">Striped rows</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã hóa đơn</th>
                    <th>Khách hàng</th>
                    <th>Ngày tạo</th>
                    <th>Tổng tiền</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                <tr>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Angular Project</strong></td>
                    <td>Albert Cook</td>
                    <td>
                        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                            <li data-bs-toggle="tooltip"
                                data-popup="tooltip-custom"
                                data-bs-placement="top"
                                class="avatar avatar-xs pull-up"
                                title="Lilian Fuller">
                                <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                            </li>
                            <li data-bs-toggle="tooltip"
                                data-popup="tooltip-custom"
                                data-bs-placement="top"
                                class="avatar avatar-xs pull-up"
                                title="Sophia Wilkerson">
                                <img src="../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle" />
                            </li>
                            <li data-bs-toggle="tooltip"
                                data-popup="tooltip-custom"
                                data-bs-placement="top"
                                class="avatar avatar-xs pull-up"
                                title="Christina Parker">
                                <img src="../assets/img/avatars/7.png" alt="Avatar" class="rounded-circle" />
                            </li>
                        </ul>
                    </td>
                    <td><span class="badge bg-label-primary me-1">Active</span></td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>*@
