
@{

}
@model TiemChungThuCung.Models.UpdateProfileModel
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item">
                <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> Tài khoản</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="pages-account-settings-notifications.html"><i class="bx bx-bell me-1"></i> Thông báo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="pages-account-settings-connections.html"><i class="bx bx-link-alt me-1"></i> Liên kết</a>
            </li>
        </ul>
        <div class="card mb-4">
            <h5 class="card-header">Thông tin tài khoản</h5>
            <!-- Account -->
            <div class="card-body">
                <div class="d-flex align-items-start align-items-sm-center gap-4">
                    <img src="~/Assets/General/img/avatars/1.png"
                         alt="user-avatar"
                         class="d-block rounded"
                         height="100"
                         width="100"
                         id="uploadedAvatar" />
                    <div class="button-wrapper">
                        <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                            <span class="d-none d-sm-block">Tải ảnh mới</span>
                            <i class="bx bx-upload d-block d-sm-none"></i>
                            <input type="file"
                                   id="upload"
                                   class="account-file-input"
                                   hidden
                                   accept="image/png, image/jpeg" />
                        </label>
                        <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                            <i class="bx bx-reset d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Reset</span>
                        </button>
                        <br>
                        <p class="form-label" style="display: inline-block;">Username: </p>&nbsp;<p style="display: inline-block;">@Model.username</p>

                    </div>
                </div>
            </div>
            <hr class="my-0" />
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    if (TempData.ContainsKey("SuccessMessage") && TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["SuccessMessage"]
                        </div>
                    }
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">Họ và tên</label>
                            <input class="form-control"
                                   type="text"
                                   id="name"
                                   name="name"
                                   value="@Model.name"
                                   autofocus />
                        </div>

                        <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">E-mail</label>
                            <input class="form-control"
                                   type="text"
                                   id="email"
                                   name="email"
                                   value="@Model.email" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="phoneNumber">Số điện thoại</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text">VN</span>
                                <input type="text"
                                       id="phoneNumber"
                                       name="phone"
                                       class="form-control"
                                       value="@Model.phone" />
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="address" class="form-label">Địa chỉ</label>
                            <input type="text" class="form-control" id="address" name="address" value="@Model.address" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="html5-date-input" class="form-label">Ngày sinh</label>
                            <div class="col-md-10">
                                <input class="form-control" type="date" value="@Model.birthday.Value.ToString("yyyy-MM-dd")" id="birthday" name="birthday" />
                            </div>
                        </div>
                    </div>

                    //===================================================
                    <div class="col-md-6 mx-auto">
                        <div class="card mb-4">
                             <h5 class="card-header">Đổi mật khẩu</h5>
                             <div class="card-body demo-vertical-spacing demo-only-element">
                                 @if (TempData.ContainsKey("SuccessChangepassword") && TempData["SuccessChangepassword"] != null)
                                 {
                                     <div class="alert alert-success">
                                         @TempData["SuccessChangepassword"]
                                     </div>
                                 }
                                 @if (TempData.ContainsKey("FailedChangepassword") && TempData["FailedChangepassword"] != null)
                                 {
                                     <div class="alert alert-danger">
                                         @TempData["FailedChangepassword"]
                                     </div>
                                 }
                                 <div class="form-password-toggle">
                                     <label class="form-label" for="oldpassword">Mật khẩu cũ</label>
                                     <div class="input-group">
                                         <input type="password"
                                                class="form-control"
                                                id="oldpassword"
                                                name="oldpassword"
                                                placeholder="******"
                                                aria-describedby="oldpassword" />
                                         <span id="oldpassword" class="input-group-text cursor-pointer">
                                             <i class="bx bx-hide"></i>
                                         </span>
                                     </div>
                                 </div>

                                 <div class="form-password-toggle">
                                     <label class="form-label" for="newpassword">Mật khẩu mới</label>
                                     <div class="input-group">
                                         <input type="password"
                                                class="form-control"
                                                id="newpassword"
                                                name="newpassword"
                                                placeholder="******"
                                                aria-describedby="newpassword">

                                         <span id="newpassword" class="input-group-text cursor-pointer">
                                             <i class="bx bx-hide"></i>
                                         </span>
                                     </div>
                                 </div>
                             </div>
                        </div>
                    </div>

                    //===================================================================

                    <div class="mt-2 mx-auto">
                        <button type="submit" class="btn btn-primary me-2">Lưu</button>
                        <button type="reset" class="btn btn-outline-secondary">Hủy</button>
                    </div>
                }
            </div>
            <!-- /Account -->
        </div>
        
    </div>
</div>