
@{

}
@model TiemChungThuCung.Models.UpdateProfileModel
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <h5 class="card-header">Thông tin tài khoản</h5>
            <!-- Account -->
            <div class="card-body">
                <div class="d-flex align-items-start align-items-sm-center gap-4">
                    <img src="~/Assets/General/img/avatars/1.png"
                         alt="user-avatar"
                         class="d-block rounded"
                         height="100"
                         width="100"
                         id="uploadedAvatar" />
                    <div class="button-wrapper">
                        <p class="form-label" style="display: inline-block;">Username: </p>&nbsp;<p style="display: inline-block;">@Model.username</p>
                    </div>
                </div>
            </div>
            <hr class="my-0" />
            <div class="card-body">
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="firstName" class="form-label">Họ và tên</label>
                        <input class="form-control"
                               type="text"
                               id="firstName"
                               name=""
                               value="@Model.name"
                               readonly />
                    </div>

                    <div class="mb-3 col-md-6">
                        <label for="email" class="form-label">E-mail</label>
                        <input class="form-control"
                               type="text"
                               id="email"
                               name="email"
                               value="@Model.email"
                               readonly />
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="phoneNumber">Số điện thoại</label>
                        <div class="input-group input-group-merge">
                            <span class="input-group-text" style="background-color: lightgray;">VN</span>
                            <input type="text"
                                   id="phoneNumber"
                                   name="phoneNumber"
                                   class="form-control"
                                   value="@Model.phone"
                                   readonly />
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="address" class="form-label">Địa chỉ</label>
                        <input type="text"
                               class="form-control"
                               id="address"
                               name="address"
                               value="@Model.address"
                               readonly />
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="html5-date-input" class="form-label">Ngày sinh</label>
                        <div class="col-md-10">
                            <input class="form-control"
                                   type="date"
                                   value="@Model.birthday.Value.ToString("yyyy-MM-dd")"
                                   id="html5-date-input"
                                   readonly />
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Account -->
        </div>
    </div>
</div>
